
@{
    ViewBag.Title = "OverallPage";
    Layout = "~/Areas/MerchantArea/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Tổng quan</h1>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">

    <div class="col-lg-8 col-md-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">
                    Doanh thu trong tuần
                </strong>
            </div>
            <div class="card-body">
                <div class="stat-widget-one">
                    <div class="stat-icon dib">
                        <i class="ti-stats-up text-success border-success"></i>
                    </div>
                    <div class="stat-content dib">
                        <div class="stat-heading">Tổng: $50,58,714</div>
                        <div class="stat-text" style="color: green">Mức tăng trưởng:  @(ViewBag.MucTang)% so với tháng trước</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">
                    Số dư của bạn
                    <button type="button" data-toggle="modal" data-target="#exampleModal" class="badge badge-success float-right mt-2">Lịch sử</button>
                </strong>
            </div>
            <div class="card-body">
                <div class="stat-widget-one">
                    <div class="stat-icon dib">
                        <i class="ti-money text-success border-success"></i>
                    </div>
                    <div class="stat-content dib">
                        <div class="stat-heading">Tổng: $50,58,714</div>
                        <div class="stat-text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="card-title mb-0">Traffic</h4>
                        <div class="small text-muted">October 2017</div>
                    </div>
                    <!--/.col-->
                    <div class="col-sm-8 hidden-sm-down">
                    </div>
                    <!--/.col-->


                </div>
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Sách bán được theo ngày</strong>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Ngày</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Tiền lãi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>11/08/1111</td>
                            <td>100</td>
                            <td>2000000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="largeModalLabel">Lịch sử giao dịch</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Ngày thanh toán</th>
                                            <th scope="col">Số tiền</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>11/08/1111</td>
                                            <td>2.000.000</td>
                                            <td>A@gmail.com</td>
                                            <td>Thành công</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section PluginCSS{
    <link rel="stylesheet" href="/Assets/Admin/Admin/Admin/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/Admin/Admin/Admin/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Assets/Admin/Admin/Admin/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/Assets/Admin/Admin/Admin/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/Assets/Admin/Admin/Admin/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/Assets/Admin/Admin/Admin/vendors/jqvmap/dist/jqvmap.min.css">


    <link rel="stylesheet" href="/Assets/Admin/Admin/Admin/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
}

@section PluginJS{
    <script src="/Assets/Admin/Admin/Admin/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/Assets/Admin/Admin/Admin/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/Assets/Admin/Admin/Admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Assets/Admin/Admin/Admin/assets/js/main.js"></script>


    <script src="/Assets/Admin/Admin/Admin/vendors/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="/Assets/Admin/Admin/Admin/assets/js/dashboard.js"></script>
    <script src="/Assets/Admin/Admin/Admin/assets/js/widgets.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
	        theme: "light2",
	        animationEnabled: true,
	        title: {
		        text: "Bảng tăng trưởng doanh thu trong tháng"
	        },
	        axisX: {
		        title: "Mức thời gian trong tháng"
	        },
	        axisY: {
		        title: "Mức tăng trưởng doanh thu"
	        },
	        data: [{
		        type: "area",
		        color: "#0BB5FF",
		        markerSize: 0,
		        toolTipContent: "Ngày: thứ {x} <br>Ins. Đơn mua: {y} đơn",
		        dataPoints: @Html.Raw(ViewBag.DataPoints)
	        }]
        });
        chart.render();

        }
    </script>

}
