
@{
    ViewBag.Title = "ChinhSachNguoiDung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}

<!-- chinh sách bao mật -->

<section class="bg0 p-t-23 p-b-140" style="margin-top: 100px">
    <div class="container">
        <h3><b>Chính sách bảo mật</b></h3>
        <br>
        <h5>
            <b>1. Sự chấp thuận </b></h4>
            <ptyle ="text-align: justify; padding: 10px 10px">
                - Bằng việc trao cho chúng tôi thông tin cá nhân của bạn, sử dụng sàn giao dịch thương mại điện tử The Knowledge Store bạn đồng ý thông tin cá nhân của bạn sẽ được thu thập, sử dụng như được nêu trong chính sách này. Nếu bạn không đồng ý với chính sách này, bạn dừng cung cấp cho chúng tôi bất cứ thông tin cá nhân nào và/hoặc sử dụng các quyền như được nêu tại mục 7 dưới đây.</p>
                <p tyle="text-align: justify; padding: 10px 10px">- Chúng tôi bảo lưu quyền sửa đổi, bổ sung nhằm hoàn thiện đối với chính sách này vào bất kỳ thời điểm nào. Chúng tôi khuyến khích bạn thường xuyên xem lại chính sách bảo mật thông tin cá nhân này để có được những cập nhật mới nhất đảm bảo bạn biết và thực hiện quyền quản lý thông tin cá nhân của bạn.</p>
                <h5><b>2. Mục đích thu thập</b></h5>
                <p tyle="text-align: justify; padding: 10px 10px">-  Chúng tôi thu thập thông tin cá nhân chỉ cần thiết nhằm phục vụ cho những mục đích sau.</p>
                <p tyle="text-align: justify; padding: 10px 10px">-  Đơn hàng: để xử lý các vấn đề liên quan đến đơn đặt hàng của bạn.</p>
                <p tyle="text-align: justify; padding: 10px 10px">-  Duy trì tài khoản: để tạo và duy trình tài khoản của bạn với chúng tôi, bao gồm cả các chương trình khách hàng thân thiết hoặc các chương trình thưởng đi kèm với tài khoản của bạn.</p>
                <p tyle="text-align: justify;">-  Dịch vụ người tiêu dùng, dịch vụ chăm sóc khách hàng: bao gồm các phản hồi cho các yêu cầu, khiếu nại và phản hồi của bạn.</p>
                <p tyle="text-align: justify;  justify; padding: 10px 10px">-  Chúng tôi có thể tổ hợp dữ liệu được thu thập để có một cái nhìn hoàn chỉnh hơn về một người tiêu dùng và từ đó cho phép chúng tôi phục vụ tốt hơn.</p>
                <p tyle="text-align: justify;">-  Cho các mục đích ngăn ngừa các hoạt động phá hủy tài khoản người dùng của khách hàng hoặc các hoạt động giả mạo khách hàng.</p>
                <p tyle="text-align: justify; padding: 10px 10px">-  Tùy quy định của pháp luật vào từng thời điểm, chúng tôi có thể thu thập, lưu trữ và cung cấp theo yêu cầu của cơ quan nhà nước có thẩm quyền.</p>
                <h5><b>3. Phạm vi thu thập</b></h5>
                <p tyle="text-align: justify; padding: 10px 10px">-  Chúng tôi thu thập thông tin của các bạn khi.</p>
                <p tyle="text-align: justify; padding: 10px 10px">-  Bạn trực tiếp cung cấp cho chúng tôi.</p>
                <p tyle="text-align: justify; padding: 10px 10px">-  Bạn tương tác với chúng tôi.</p>
                <p tyle="text-align: justify; padding: 10px 10px">-  Từ những nguồn hợp pháp khác.</p>
                <h5><b>4. Thời gian lưu trữ</b></h5>
                <p tyle="text-align: justify; padding: 10px 10px">- Thông tin cá nhân của khách hàng sẽ được lưu trữ cho đến khi khách hàng có yêu cầu hủy bỏ hoặc khách hàng tự đăng nhập và thực hiện hủy bỏ. Trong mọi trường hợp thông tin cá nhân của khách hàng sẽ được bảo mật trên máy chủ của tiki.vn.</p>
                <h5><b>5. Không chia sẻ thông tin khách hàng</b></h5>
                <p tyle="text-align: justify; padding: 10px 10px">- Chúng tôi sẽ không cung cấp thông tin cá nhân của bạn cho bất kỳ bên thứ ba nào, trừ một số hoạt động cần thiết dưới đây.</p>
                <p tyle="text-align: justify; padding: 10px 10px">- Các đối tác là bên cung cấp dịch vụ cho chúng tôi liên quan đến thực hiện đơn hàng và chỉ giới hạn trong phạm vi thông tin cần thiết cũng như áp dụng các quy định đảm bảo an ninh, bảo mật các thông tin cá nhân.</p>
                <p tyle="text-align: justify; padding: 10px 10px">- Chúng tôi có thể sử dụng dịch vụ từ một nhà cung cấp dịch vụ là bên thứ ba để thực hiện một số hoạt động liên quan đến sàn giao dịch thương mại điện tử tiki.vn và khi đó bên thứ ba này có thể truy cập hoặc xử lý các thông tin cá nhân trong quá trình cung cấp các dịch vụ đó. Chúng tôi yêu cầu các bên thứ ba này tuân thủ mọi luật lệ về bảo vệ thông tin cá nhân liên quan và các yêu cầu về an ninh liên quan đến thông tin cá nhân.</p>
                <p tyle="text-align: justify; padding: 10px 10px">- Các chương trình có tính liên kết, đồng thực hiện, thuê ngoài cho các mục địch được nêu tại Mục 2 và luôn áp dụng các yêu cầu bảo mật thông tin cá nhân.</p>
                <p tyle="text-align: justify; padding: 10px 10px">- Yêu cầu pháp lý: Chúng tôi có thể tiết lộ các thông tin cá nhân nếu điều đó do luật pháp yêu cầu và việc tiết lộ như vậy là cần thiết một cách hợp lý để tuân thủ các quy trình pháp lý.</p>
                <p tyle="text-align: justify; padding: 10px 10px">- Chuyển giao kinh doanh (nếu có): trong trường hợp sáp nhập, hợp nhất toàn bộ hoặc một phần với công ty khác, người mua sẽ có quyền truy cập thông tin được chúng tôi lưu trữ, duy trì trong đó bao gồm cả thông tin cá nhân.</p>
                <h5><b>6. An toàn dữ liệu</b></h5>
                <p tyle="text-align: justify; padding: 10px 10px">- Chúng tôi luôn nỗ lực để giữ an toàn thông tin cá nhân của khách hàng, chúng tôi đã và đang thực hiện nhiều biện pháp an toàn.</p>
                <h5><b>7. Quyền của khách hàng với thông tin cá nhân</b></h5>
                <p tyle="text-align: justify; padding: 10px 10px">- Khách hàng có quyền cung cấp thông tin cá nhân cho chúng tôi và có thể thay đổi quyết định đó vào bất cứ lúc nào.</p>
                <p tyle="text-align: justify; padding: 10px 10px">- Khách hàng có quyền cung cấp thông tin cá nhân cho chúng tôi và có thể thay đổi quyết định đó vào bất cứ lúc nào.</p>
    </div>
</section>

@section PluginCSS
{
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/css/main.css">
    <!--===============================================================================================-->
}

@section PluginJS
{
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/bootstrap/js/popper.js"></script>
    <script src="/Assets/Customer/cozastore/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/daterangepicker/moment.min.js"></script>
    <script src="/Assets/Customer/cozastore/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/slick/slick.min.js"></script>
    <script src="/Assets/Customer/cozastore/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/parallax100/parallax100.js"></script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/sweetalert/sweetalert.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/js/main.js"></script>
}

