
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Đơn hàng</h1>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="col-sm-12">
        <div class="widget widget-pie-chart">
            <header class="widget-header">
                <h6 class="widget-title">Tìm kiếm</h6>
            </header>
            <hr class="widget-separator" />
            <div class="widget-body clearfix">
                <!-- new row -->
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mã đơn hàng</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Mã đơn hàng">
                        </div>
                    </form>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ngày đặt</label>
                            <input type="text" id="datetimepicker5" class="form-control" data-plugin="datetimepicker" data-options="{ defaultDate: '3/27/2018' }">
                        </div>
                    </form>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Thông tin khách hàng</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Tên khách hàng">
                        </div>
                    </form>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Trạng thái</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Trạng thái">
                        </div>
                    </form>
                    <div class="m-b-xl">
                        <button type="button" class="btn btn-primary btn-sm" style="padding: 8px">Tìm kiếm</button>
                        <button type="button" class="btn btn-primary btn-sm" style="padding: 8px">Làm mới</button>
                    </div>
                </div>
            </div><!-- .widget -->
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Danh sách đơn hàng</strong>
                    </div>
                    <div class="m-b-xl pull-right" style="padding: 18px">
                        <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 10px; margin-left: 720px; margin-top: 10px">Xuất excel</button>
                        <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 10px; margin-left: 30px; margin-top: 10px" data-toggle="modal" data-target="#myModalThemsach">Nhập excel</button>

                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Thông tin đặt hàng</th>
                                    <th>Ngày xử lý</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                    <th>Lợi nhuận</th>
                                    <th>Trạng thái</th>
                                    <th>Chức năng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>5555555</td>
                                    <td>
                                        <p>Nguyễn Văn B(09888888)</p>
                                        <p> số 4, nguyễn trãi, TPHCM</p>
                                    </td>
                                    <td>
                                        <p>Ngày mua: 31/10/2018</p>
                                        <p>Ngày giao: 05/11/2018</p>
                                    </td>
                                    <td>1</td>
                                    <td>500000</td>
                                    <td>230000</td>
                                    <td>
                                        <button class="btn btn-info btn-sm" disabled>Chờ xử lý</button>
                                    </td>
                                    <td>
                                        <div>
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModalXemchitiet">Chi tiết</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="p-r-18 p-r-0-sm w-full-ssm" style="width: 50%">
                                            <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-info btn-sm">Xử lý</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5555555</td>
                                    <td>
                                        <p>Nguyễn Văn B(09888888)</p>
                                        <p> số 4, nguyễn trãi, TPHCM</p>
                                    </td>
                                    <td>
                                        <p>Ngày mua: 31/10/2018</p>
                                        <p>Ngày giao: 05/11/2018</p>
                                    </td>
                                    <td>1</td>
                                    <td>500000</td>
                                    <td>230000</td>
                                    <td>
                                        <button class="btn btn-warning btn-sm">Giao hàng thành công</button>
                                    </td>
                                    <td>
                                        <div>
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModalXemchitiet">Chi tiết</button>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>5555555</td>
                                    <td>
                                        <p>Nguyễn Văn B(09888888)</p>
                                        <p> số 4, nguyễn trãi, TPHCM</p>
                                    </td>
                                    <td>
                                        <p>Ngày mua: 31/10/2018</p>
                                        <p>Ngày giao: 05/11/2018</p>
                                    </td>
                                    <td>1</td>
                                    <td>500000</td>
                                    <td>230000</td>
                                    <td>
                                        <button class="btn mw-md btn-success">Đang vận chuyển</button>
                                    </td>
                                    <td>
                                        <div>
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModalXemchitiet">Chi tiết</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="p-r-18 p-r-0-sm w-full-ssm" style="width: 50%">
                                            <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-info btn-sm">Xử lý</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Modal xử lý đơn hàng-->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top: 70px">
                    <div class="modal-dialog" role="document" style="width: 450px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Xử lý đơn hàng đang vận chuyển</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <div class="row p-b-10">
                                            <div class="col-sm-5">
                                                <p>Sách: </p>
                                            </div>
                                            <div class="col-sm-5" style="left: -55px">
                                                <p>Đăc nhân tâm </p>
                                                <p>Số lượng 1 </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row p-b-10">
                                            <div class="col-sm-5">
                                                <p>Lợi nhuận: </p>
                                            </div>
                                            <div class="col-sm-5" style="left: -55px">
                                                <p>48.000</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row p-b-10">
                                            <div class="col-sm-5">
                                                <p>Mã giao hàng:</p>
                                            </div>
                                            <div class="col-sm-5" style="left: -55px">
                                                <p>Phiếu gửi 86254</p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Hủy giao hàng</button>
                                <button type="button" data-toggle="modal" data-dismiss="modal" data-target="#exampleModalxacnhangiaohang" class="btn btn-info btn-sm">Xác nhận giao hàng</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal xác nhận giao hàng-->
                <div class="modal fade" id="exampleModalxacnhangiaohang" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top: 70px">
                    <div class="modal-dialog" role="document" style="width: 450px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Xác nhận giao hàng</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    <div class="row form-group">
                                        <div class="col col-md-8"><label for="text-input" class=" form-control-label">Chứng minh nhân dân: </label></div>
                                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" placeholder="chứng minh nhân dân" class="form-control"></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-8"><label for="email-input" class=" form-control-label">Upload biên bản bàn giao:</label></div>
                                        <div class="col-12 col-md-9"><input type="file" id="file-input" name="file-input" class="form-control-file"></div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Thoát</button>
                                <button type="button" data-toggle="modal" class="btn btn-info btn-sm">Xác nhận</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- thông tin chi tiet don hàng  -->

                <div class="modal fade" id="exampleModalXemchitiet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top: 70px">
                    <div class="modal-dialog" role="document" style="width: 450px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Thông tin chi tiết đơn hàng</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <div class="row p-b-10">
                                            <div class="col-sm-5">
                                                <p>Mã đơn hàng: </p>
                                            </div>
                                            <div class="col-sm-5" style="left: -35px">
                                                <p>555555</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row p-b-10">
                                            <div class="col-sm-5">
                                                <p>Thông tin đặt hàng:</p>
                                            </div>
                                            <div class="col-sm-5" style="left: -35px">
                                                <p>Nguyễn Văn B</p>
                                                <p>số 4, nguyễn trãi, TPHCM</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row p-b-10">
                                            <div class="col-sm-5">
                                                <p>Ngày xử lý:</p>
                                            </div>
                                            <div class="col-sm-5" style="left: -35px">
                                                <p> 0981986775</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row p-b-10">
                                            <div class="col-sm-5">
                                                <p>Số lượng :</p>
                                            </div>
                                            <div class="col-sm-5" style="left: -35px">
                                                <p>1</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row p-b-10">
                                            <div class="col-sm-5">
                                                <p>Thành tiền</p>
                                            </div>
                                            <div class="col-sm-5" style="left: -35px">
                                                <p>50.000đ</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row p-b-10">
                                            <div class="col-sm-5">
                                                <p>Lợi nhuận</p>
                                            </div>
                                            <div class="col-sm-5" style="left: -35px">
                                                <p>48.000đ</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row p-b-10">
                                            <div class="col-sm-5">
                                                <p>Trang thái</p>
                                            </div>
                                            <div class="col-sm-5" style="left: -35px">
                                                <p>Đang chờ xử lý</p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" style="margin-left: 60px; margin-top: 10px">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .row -->
    </div> <!-- .content -->
</div>


@section PluginCSS{
    <link rel="stylesheet" href="/Assets/Admin/Infinity-v2.0.0/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/Admin/Infinity-v2.0.0/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/Admin/Infinity-v2.0.0/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Assets/Admin/Infinity-v2.0.0/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/Assets/Admin/Infinity-v2.0.0/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/Assets/Admin/Infinity-v2.0.0/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/Assets/Admin/Infinity-v2.0.0/vendors/jqvmap/dist/jqvmap.min.css">


    <link rel="stylesheet" href="/Assets/Admin/Infinity-v2.0.0/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
}

@section PLuginJS{
    <script src="/Assets/Admin/Infinity-v2.0.0/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/Assets/Admin/Infinity-v2.0.0/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/Assets/Admin/Infinity-v2.0.0/vendors/popper.js/dist/umd/popper.js"></script>
    <script src="/Assets/Admin/Infinity-v2.0.0/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Assets/Admin/Infinity-v2.0.0/assets/js/main.js"></script>


    <script src="/Assets/Admin/Infinity-v2.0.0/vendors/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="/Assets/Admin/Infinity-v2.0.0/assets/js/dashboard.js"></script>
    <script src="/Assets/Admin/Infinity-v2.0.0/assets/js/widgets.js"></script>
    <script src="/Assets/Admin/Infinity-v2.0.0/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="/Assets/Admin/Infinity-v2.0.0/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="/Assets/Admin/Infinity-v2.0.0/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>

}

